<%- include("./partials/header") %>

<h1>Sign Up Form</h1>
<form action="/register" method="POST">
	<input type="text" name="username" placeholder="username">
	<input type="password" name="password" placeholder="password">
	<button btn-btn-primary>SUBMIT</button>
</form>
<P>
	<li><a href="/">Back</a></li>
	<li><a href="login">Log In</a></li>
</P>

<%- include("./partials/footer") %>