<h1>This is The Secret Page</h1>

<p>You Found Me</p>

<img src="https://images.unsplash.com/photo-1487174244970-cd18784bb4a4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">

<P>
	<li><a href="/">Back</a></li>
	<li><a href="/register">Sign Up</a></li>
	<li><a href="login">Log In</a></li>
	<li><a href="/logout">Log Out</a></li>
</P>

